@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap");

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
}

.navbar .nav-link {
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
}